*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.addForm{
    display: none;
    background-color: white;
    border: 1px royalblue solid;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 8px;
}

.updateForm{
    background-color: white;
    border: 1px royalblue solid;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.deleteForm{
    background-color: white;
    border: 1px royalblue solid;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.assignForm{
    display: none;
    background-color: white;
    border: 1px royalblue solid;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30PX;
    padding: 5px;
    float: right;
    margin-bottom: 10px;
    border: none;
    background-color: #ccc;
}
#close:hover{
    background-color: red;
    color: white;
}

#category{
    display: block;
    margin: 10px 0;
    bottom: none;
    width: 100%;
    border: 1px #ccc solid;
    outline: none;
    padding: 5px;
}
#category:focus{
    border-bottom: 1px rgb(64, 137, 233) solid;
}

#description{
    display: block;
    margin: 10px 0;
    resize: none;
    outline: none;
    border: 1px #ccc solid;
}
#description:focus{
    border-bottom: 1px rgb(64, 137, 233) solid;
}

#Location{
    display: block;
    margin: 10px 0;
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px #ccc solid;
}
#Location:focus{
    border-bottom: 1px rgb(64, 137, 233) solid;
}
#Phone{
    display: block;
    margin: 10px 0;
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px #ccc solid;
}
#Phone:focus{
    border-bottom: 1px rgb(64, 137, 233) solid;
}

#title{
    margin-bottom: 25px;
    font-size: large;
}

.formLabel{
    color: rgb(64, 137, 233);
    font-size: small;
}

.optCategory{
    padding: 10px;
}