:root{
    scrollbar-width: 1em;
    scrollbar-color: gray #eee;
    
        
}
.remarksBody{
    display: flex;
    background-color: #eee;
    justify-content: flex-start;
    height: 585px;
    max-height: 590px;
}

.remarks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 3px;
    margin: 5px;
    margin-right: 1px;
    margin-bottom: 0;
    flex:2;
    overflow-y:auto;
}

.chatbox{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-left: 1px;
    margin-bottom: 0;
    flex: 8;
}
.chatHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 18px;
    font-size: small;
    color: gray;
}
.chatHead h3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 137, 233);
    min-width: 40px;
    padding: 15px 10px;
    border-radius: 100%;
    font-size: x-small;
    color: white;
}
.incomingMsg{
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 0 18px 18px 18px;
    width: 350px;
    font-size: small;
    word-wrap: break-word;
}
.outgoingMsg{
    background-color: rgb(88, 190, 238);
    margin: 5px 0;
    padding: 10px;
    border-radius: 18px 18px 0 18px;
    width: 350px;
    font-size: small;
    align-self: flex-end;
    word-wrap: break-word;
}

#incomingSender{
    color:rgb(64, 137, 233);
    
}
#chatMsgTime{
    float: right;
    color: rgb(180, 179, 179);
}
#chatMsgTime2{
    float: right;
    color: white;
}

.chat{
    display: flex;
    flex-direction: column;
    flex:14;
    border-top: #eee 1px solid;
    border-bottom: none;
    padding: 10px;
    overflow-y: auto;
    margin: 0 auto;
    width: 800px;
}

.chat::-webkit-scrollbar,.remarks::-webkit-scrollbar,.ListFault::-webkit-scrollbar{
    width: 5px;
    border-radius: 15px;
      
}
.chat::-webkit-scrollbar-thumb,.remarks::-webkit-scrollbar-thumb,.ListFault::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 20px;
}
.chat::-webkit-scrollbar-track,.chat::-webkit-scrollbar-track,.ListFault::-webkit-scrollbar-track  {
    border-radius: 15px;
    background-color: #eee;
}

.messageBox{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex:1;
    margin: auto;
    box-shadow: 0 0 1px 0 #ccc;
    width: 800px;
    margin-bottom: 5px;
}


.sendBtn{
    width: 60px;
    margin-left: 2.5px;
    border: none;
    background-color: transparent;
}

.sendBtn:hover{
    cursor: pointer;
}

#comment{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 5px;
    margin-right: 2.5px;
    resize:none;
    overflow-y: hidden;
    max-height: 200px;
    word-wrap: break-word;
    
}

.remarkItem{
    display: flex;
    background-color: white;
    justify-content: flex-start;
    padding: 5px;
    margin: 3px 0;
    width:100%;
    border-radius: 5px;
       
}

.remarkItem:hover{
    background-color: #ccc;
    cursor: pointer;
}

.remarkItemHead{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(64, 137, 233);
    color: white;
    width: 80px;
    height: 40px;
    padding: 10px;
    flex: 1;
    font-size: xx-small;
    margin: 8px 0;
}

.remarkItemBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    flex:9;
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 8px 0;
}

.remarkItemBody h5{
    color: grey;
}

.remarkItemBodyTop{
    display:flex;
    justify-content: space-between;
}
.remarkItemBodyBottom{
    display: flex;
    justify-content: flex-start;
}