

@import "http://fonts.googleapis.com/css?family=Raleway";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}
/* scrollbar customization*/
.remarkChat::-webkit-scrollbar,.remarkside::-webkit-scrollbar,.ListFaults::-webkit-scrollbar{
    width: 5px;
    border-radius: 15px;
      
}
.remarkChat::-webkit-scrollbar-thumb,.remarkside::-webkit-scrollbar-thumb,.ListFaults::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 20px;
}
.remarkChat::-webkit-scrollbar-track,.remarkChat::-webkit-scrollbar-track,.ListFaults::-webkit-scrollbar-track  {
    border-radius: 15px;
    background-color: transparent;
}

:root{
    scrollbar-width: 1em;
    scrollbar-color: gray #eee;
        
}

.Content{
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    border: 1px black solid;
}
.sidePanel{
    flex: 2;
    
}
.Stats{
    border: 2px white solid;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: 0 1px 1px 1px gray;
    margin: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    height: 230px;
    
}

.sideTool{
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: 0 1px 1px 1px gray;
    margin: 20px 0 0 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    height: 220px;
    
}

.faults{
    padding: 0;
    flex-basis: 1400px;
    height: 800px;
    overflow-y: auto;
    
}


.Stats h3{
    color:rgb(255, 255, 255);
    font-size: small;
    margin-bottom: 20px;
}

.Stats h4{
    color: black;
    font-size: small;
}

.Stats_items{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 10px;
    
}

.cardHead{
    background-color: rgb(64, 137, 233);
    height: 30px;
    color: white;
    font-size: small;
    text-align: center;
    padding-top: 5px;
    margin: 0 10px;
}
.SidecardHead{
    background-color: rgb(64, 137, 233);
    height: 30px;
    color: white;
    font-size: small;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
}



.LogoutBtn{
    display: block;
    background-color:white ;
    color: rgb(64, 137, 233);
    border: 1px solid rgb(64, 137, 233);
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    
}

.LogoutBtn:hover{
    cursor: pointer;
    background-color: rgb(64, 137, 233);
    color: white;
}
.ListFaultTitle{
    position: sticky;
    top: 0;
    background-color:rgb(64, 137, 233) ;
    color: white;
    padding: 6px;
    text-align: center;
    margin: 0;
}




.Hrule{
    margin: 0 10px;
}
.mainContent{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    
}

.LsideFault{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    flex: 1;
    
    
}

.RsideFault{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
}

.tileL{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px #ccc solid;
    margin-bottom: 10px;
}
.tileR{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px #ccc solid;
}
.tileLink{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 20px;
    padding-top: 35px;
    padding-right: 20px;
    flex: 1;
    
    
}
.tileOptions{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    
    
}
.tileLink .navLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(97, 96, 96);
    font-size: smaller;
    border: 1px white solid;
    border-radius: 3px;
    background-color: white;
}

.tileLink .navLink:hover{
    border: 1px rgb(64, 137, 233) solid;    
    cursor: pointer;
    
}

.tileLink .navLink:disabled{
    cursor: default;
    opacity: 0.6;
}

.tileOptions .remarkForm .navLink{
    width: 100%;
}
.tileLink .tileTitle{
    margin-left: 5px;
}
.tileStat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:smaller;
    color: rgb(97, 96, 96);
    margin: 5px 0;
    margin-right: 10px;
    width: 100%;
    
}

.tileTitle{
    font-size: medium;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(18, 18, 19);
    
}

.tileItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    margin-left: 0;
    
    
}

.tileItem img{
    margin-right: 10px;
}

.tileItem h4{
    font-size: smaller;
    
}

.tileStat h4{
    font-size: smaller;
}
.faultCat{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.LeftPanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    flex: 1;
    
}
.CenterPanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    flex: 4;
}
.RightPanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    flex: 1;
}

.Barchart{
    
    border: 1px #ccc solid;
    padding: 10px;
    width: 500px;
    height: 350px;
    
}

.LineChart{
    border: 1px #ccc solid;
    padding: 10px;
    width: 500px;
    height: 350px;
}

.PieChart{
    border: 1px #ccc solid;
    padding: 10px;
    width: 400px;
    height: 250px;
}
.CLeft{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.CRight{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.notifications{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px #ccc solid;
    padding: 20px;
    width: 400px;
}

.notifications .tileStat{
    width: 95%;
    margin-left: 10px;

}

.dashboardBtn{
    padding: 10px;
    border: 1px rgb(64, 137, 233) solid;
    border-radius: 5px;
    background-color: white;
    color: rgb(64, 137, 233);
    margin: 5px;
    flex: 1;
    
}

.dashboardBtn:hover{
    background-color: rgb(64, 137, 233);
    color:white;
}

.dashBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.Faultmanagement{
    width: 700px;
    height: 400px;
    background-color: red;
    display: inline-block;
    z-index: 1;
}

/*------------------Report styles -------------------------*/
.Report{
    margin:0 auto;
    width: 1000px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding-bottom: 10px;
}

.Tabs{
    display: flex;
    justify-content: flex-end;
    margin-right:1px;
}

.Tabs h4{
    margin: 1px 0;
    padding: 5px;
    font-size: smaller;
    background-color: #eee;
    border: 1px #ccc solid;
    
}

.Tabs h4:hover{
    background-color: #ccc;
}

.ReportTitle{
    display: flex;
    justify-content: center;
    font: small;
    margin: 40px 0;
    padding: 30px 0;
}

.ReportBarchart{  
    border: 1px #ccc solid;
    padding: 10px;
    width: 500px;
    height: 350px;
    margin: 2px;
    
}
.ReportLinechart{  
    border: 1px #ccc solid;
    padding: 10px;
    width: 500px;
    height: 350px;
    margin: 2px;
    
}
.ReportGraphs{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.ReportStats{
    margin: 0 2px;
    margin-top: 40px;
    padding: 0 10px;
}
.ReportSummary{
    margin: 0 2px;
    margin-top: 40px;
    padding: 0 10px;
}
.ReportBtns{
    margin: 0 2px;
    margin-top: 40px;
    padding: 0 10px;
    
}
.ReportBtn{
    background-color:white ;
    color: rgb(64, 137, 233);
    border: 1px solid rgb(64, 137, 233);
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
}
.ReportBtn:hover{
    cursor: pointer;
    background-color: rgb(64, 137, 233);
    color: white;
}